.CenterContent {
    /* background-color: rgb(175, 100, 3); */
    width: 60vw;
    height: 100vh;
    padding-top: 22px;
}

.boxContentCenter {
    width: 630px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.stories {
    padding: 15px;
    display: flex;
    gap: 16px;
    justify-content: center;

}

.itemStories {
    cursor: pointer;
    text-align: center;
}

.itemStories span {
    font-size: 12px;
}

.borda {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#c82d8e, #f99d4c);
}

.borda img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #fff;
}


header {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 10px 0px;
    width: 468px;
    justify-content: space-between;
}

.conteudo-header {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
}

.conteudo-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post {
    width: 100%;
}

.post img {
    width: 100%;
}

.feed {
    width: 468px;
    margin: 0 auto;
}

.icones { 
    display: flex;
    justify-content: space-between;
}

.icones svg {
    width: 24px;
    height: 24px;
    
}

.icones-publi svg {
    margin-right: 10px;
}

.section-comments {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.comment {
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 14px;
}

.divisao {
    stroke: black;
    margin-top: 15px;
    margin-bottom: 20px;
}