    * {
        margin: 0px;
        padding: 0px;
    }

    main {
        display: flex;
    }

    .LeftContent {
        background-color: rgb(255, 255, 255);
        width: 244px;
        height: 100vh;
        
    }

    .Menu ul {
        background-color: blue;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .Alinhamento {
        padding: 8px 12px 20px 12px;
    }
    
    .LeftContent li {
        font-size: 20px;
    }
    
    .MenuLogo {
        padding: 25px 12px 16px 12px;
    }

    .LeftContent svg {
        width: 30px;
        height: 30px;
    }

    .more {
        align-items: end;
        list-style: none;
        border: solid 1px red;
    }

    .Menu { 
        background-color: brown;
        width: 220px;
        height: 755px;
    }
    .CenterContent {
        background-color: rgb(175, 100, 3);
        width: 60vw;
        height: 100vh;
    }


    .RightContent {
        background-color: rgb(46, 58, 58);
        width: 20vw;
        height: 100vh;
    }

    /* @media usada para resposivdidade 
    @meida (max-widht: 800px) {
        .LeftContent {
            display: none 
        }
    } */